.login-area {
  position: relative;
  margin: 0 10%;
  min-width: 520px;
  max-width: 800px;
  max-height: 400px;
}

.content-area {
  position: absolute;
  background-color: rgba(246, 249, 249, 0.802);
  top: 0;
  left: 0;
  top: 20%;
  left: 20%;
  text-align: center;
  width: 60%;
  height: 60%;
}
.login-form {
  margin: 0 30%;
  /* text-align: left; */
  color: #000;
}

.login-btn {
  position: relative;
  width: 50%;
  margin: 15px 0 20px 0;
  background-color: rgba(26, 159, 159, 0.646);
  font-size: x-large;
}

.signup-link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: rgb(6, 28, 34);
  padding: 10px 0 0 0;
}

.errorFrom {
  border-style: solid;
  color: red;
  border-width: 5px;
}

.errorMessage {
  color: red;
  font-size: 20px;
}
